<!-- views/subjects/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subjects</title>
</head>

<body>
  <h1>Subjects</h1>
  <ul>
    <% subjects.forEach(subject => { %>
      <li><%= subject.name %></li>
    <% }); %>
  </ul>
  <a href="/subjects/new">Add a new subject</a>
</body>

</html>