<!-- views/pdfFiles/new.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New PDF File</title>
</head>

<body>
  <h1>Add New PDF File</h1>
  <form action="/pdfFiles" method="post" enctype="multipart/form-data">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="pdfFile">PDF File:</label>
    <input type="file" id="pdfFile" name="pdfFile" accept=".pdf" required>

    <label for="subject_id">Subject:</label>
    <select id="subject_id" name="subject_id" required>
      <% subjects.forEach(subject => { %>
        <option value="<%= subject.id %>"><%= subject.name %></option>
      <% }); %>
    </select>

    <button type="submit">Add PDF File</button>
  </form>
</body>

</html>