<!-- views/semesters/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Semesters</title>
</head>

<body>
  <h1>Semesters</h1>
  <ul>
    <% semesters.forEach(semester => { %>
      <li><%= semester.name %></li>
    <% }); %>
  </ul>
  <a href="/semesters/new">Add a new semester</a>
</body>

</html>